<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Application</title>
</head>
<body>

    <div ng-app="app">
        <div ng-controller="VoteController as vm">
            You have {{ vm.votes }} votes!

            <button ng-click="vm.incrementVotes()">Add Votes</button>
            <button ng-click="vm.decrementVotes()">Remove a vote</button>
        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/VoteController.js"></script>

</body>
</html>
